@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9c9;

    --primaryBackgroundColor: #ffffff;
    --secondaryBackgroundColor: #fafafa;
    --thrirdBackgroundColor: #F6F1EE;

    --primaryIconColorText: #9D5C0D;
    --primaryIconColor: #E5890A;
    --primaryIconColorHover: #F7D08A;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong{
    color: var(--primaryTextColor);
}

p{
    font-size: 1rem; /* 16 pixel*/    
    line-height: 1.9rem;

}

p, 
span, 
label, 
input, 
textarea, 
li{
    color:  var(--secondaryTextColor);
}

a{
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}

/* Button */
.btn {
    padding: 1rem 1.5rem; /* Fix padding values */
    background: white;
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Titles */
.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.hero-name {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 2px solid var(--secondaryTextColor);
    margin: 0;
    padding-right: 5px; /* Adjust as needed */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 58%;
    }
}

@keyframes blink {
    80% {
        border-color: transparent;
    }
}

.typing {
    animation: typing 3s steps(30) forwards, blink 1.5s infinite alternate; /* Added blink animation */
}

/* Layout */
.grid-3 {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
   gap: 3rem;
}

/* Logo and Navigation Menu */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: var(--primaryTextColor);
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: var(--primaryTextColor)
}

/* Burger */

.burger div{
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.5s;
    z-index: 99;
}

.burger {
    display: none; /* Change 'none' to 'block' or 'flex' */
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Hero section */
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span{
    color: var(--primaryIconColorText);
}

.hero-right img{
    margin: 0.5rem 0 1rem;
    width: 100%;
}

.hero-right{
    display: flex;
    justify-content: center;
}

/* Services section */
#services{
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.services .pre-title{
    margin: 0 auto;
}

.services-title{
    text-align: center;
}

.service{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.services h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.services-icon{
    background: var(--thrirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.services-icon svg{
    fill: var(--primaryIconColor);
}

/* Portfolio Section */
#portfolios {
    padding: 80px 0;
}

.portfolios {
    text-align: center;
}

.pre-title {
    font-size: 18px;
    font-weight: 400;
    color: #888;
}

.section-title {
    font-size: 36px;
    margin-bottom: 60px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

/* Portfolio Section  */
.portfolio {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.portfolio:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.portfolio img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.portfolio-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    transform: translateY(100%);
    transition: all 0.3s ease;
}

.portfolio:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio-title h4 {
    font-size: 24px;
    margin-bottom: -10px;
    color: #fff;
}

.portfolio-tags {
    margin-bottom: 15px;
}

.portfolio-tags div {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 14px;
}

.portfolio-tags div:last-child {
    margin-right: 0;
}

.portfolio p {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.portfolio-link {
    color: #fff;
    font-size: 20px;
    margin-left: 280px;
    transition: color 0.3s ease;
}

.portfolio-link svg {
    fill: #fff; /* Mengatur warna isi ikon menjadi putih */
    width: 30px; /* Sesuaikan lebar ikon */
    height: 30px; /* Sesuaikan tinggi ikon */
    margin-left: 30px; /* Ubah margin jika diperlukan */
    transition: fill 0.3s ease; /* Transisi warna */
}

.portfolio-link:hover svg {
    fill: #FF5733; /* Warna ikon saat dihover */
}

/* Skills & Education */
#skills{
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
}

.education{
    display: flex;
    gap: 2rem;
}

.education .line{
    padding: 0 0.7rem;
}

.education .line div{
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education-info p{
    margin: 0.6rem 0 1.4rem;
}

.education-years{
    margin-bottom: 3rem;
}

/* The Dot on the line */
.education .line div:before{
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul{
    line-height: 2rem;
    padding: 0 1rem;
    
}
/* Contact Section */
#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div{
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color: #9d9fa1;
}

.contact-form input::focus,
.contact-form textarea::focus{
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit{
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0,2s ease-in-out;
}

.btn-submit::hover{
    background-color: var(--primaryIconColorHover);
}

.contact-item{
    display: flex;
    gap: 1.5rem;
    margin: 0rem;
}

.contact-item-icon{
    background-color: var(--thrirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg{
    fill: var(--primaryIconColor);
}

.contact-item-detail h4{
    margin-bottom: 0.6rem;
}

/* Footer Section */
footer{
    padding: 4rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icons{
    margin-bottom: 1rem;
}

.footer-icons a{
    margin: 0 0.5rem;
}

.footer-icons svg{
    fill: #3e3f40;
}

.footer-icons a:hover svg{
    fill: #000;
}

